body {
	background-color: #c4ebf9;
	color: #ffffff;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}

header {
	background-color: #02bfb1;
	padding: 30px 0;
	margin: 20px;
}

footer {
	background-color: #02bfb1;
	padding: 30px 0;
	margin: 20px;
}

aside {
	background-color: #6edb6e;
	width: 100%;
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

article {
	background-color: #fbb04c;
	width: 100%;
	margin: 20px;
	display: flex;
	flex-direction: column;
	justify-content: end;
}

#article_text {
	padding: 30px 0;
}

.container {
	display: flex;
	height: 500px;
}

.img_container {
	display: flex;
}

.img {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fcd24a;
	width: 100%;
	height: 150px;
	margin: 20px;
}

header,
footer,
aside,
.img {
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

header:hover,
footer:hover,
aside:hover {
	opacity: 0.5;
}

.img:hover {
	transform: scale(1.2);
}

@media screen and (max-width: 480px) {
	.container {
		display: block;
		width: auto;
		height: auto;
	}

	.img_container {
		display: block;
	}

	.img {
		width: auto;
	}

	aside {
		width: auto;
		padding: 30px 0;
	}

	article {
		width: auto;
	}
}
